.burguerButton {
  width: 25px;
  height: 30px;
  cursor: pointer;
  padding: 12px;
  z-index: 10;
  div {
    height: 5px;
    width: 100%;
    display: block;
    margin: 2px;
    background: #888;
    box-shadow: inset 0px 0.7px 0.5px #666;
    transition: 0.5s;
    border-radius: 9px;
  }
  &:hover div:first-child,
  &.active div:first-child {
    transform: translateY(8.33px) rotateZ(135deg);
  }
  &:hover :last-child,
  &.active :last-child {
    transform: translateY(-8.33px) rotateZ(45deg);
  }
  &.active div:nth-child(2) {
    opacity: 0;
  }
}
